@media screen and (max-width: 1240px) {
.container{width:1000px;}
.desk-nav ul li{margin: 0 8px;font-size: 13px;}  
.desk-nav ul li a{padding:13px 3px 18px;}
.header_bottom{padding: 15px 0;}
.header_bottom .logo{width: 220px;}
.header_bottom .donate{font-size: 16px;}
.header_bottom .donate a{padding: 13px 25px;}
.homepage-banner{margin-bottom: 45px;}
.into_text{margin-bottom: 38px;}
.into_text h1{font-size: 20px;margin-bottom: 20px;}
.into_text h2{font-size: 33px; margin-bottom: 20px;}
.into_text p{line-height: 26px;}
.home_middle{margin-bottom: 45px;}
.middle_left{width: 490px;    padding: 25px;}
.middle_right{width: 490px;padding: 25px 25px 35px;}
.middle_right .payment_sec ul li{margin-left: 10px;width: 18%;}
.home_middle h3{font-size: 24px; margin-bottom: 20px;}
.home_middle .mid_content p{line-height: 25px;margin-bottom: 20px;}
.home_middle .middle_right h3 {margin-bottom: 25px;}
.middle_right .mid_content {margin-bottom: 20px;}
.middle_right .payment_sec{margin-bottom: 29px;}
.home_middle .bottom_link a{font-size: 16px;padding: 15px 32px;}
.home_bottom_sec{margin-bottom: 45px;}
.recent_event{width: 680px;padding: 30px 28px;}
.bottom_rgt{width: 295px;}
.home-blog-post h3{margin-bottom: 28px;font-size: 24px;}
.home_post .owl-dots{margin-top: 42px;}
.events_link{margin-top: 25px;}
.events_link a{font-size: 16px;padding: 15px 32px;}
.bottom_rgt .members_sec{margin-bottom: 40px;}
.members_sec h3{font-size: 22px;padding: 18px 0;}
.member_image figure span{height: 195px;}
.member_image{margin-bottom: 10px;}
.book_ticket_inner{padding: 28px 20px 25px 20px;}
.book_ticket_inner h3{font-size: 22px;margin-bottom: 20px;}
.button_link_book_ticket a{padding: 13px 30px;font-size: 16px;}
footer{padding: 40px 0 23px;}
footer .footer_menu ul{margin: 0 10px;}
footer .footer_menu ul li{margin: 0 8px;}
footer .footer_menu ul li a{font-size: 13px;}
.social_sec{margin-top: 20px;}
.copyright{margin-top: 28px;}
}

@media screen and (max-width: 1023px) {
.container{width:750px;}
.header_top{display: none;}
.mob-nav{display: block;float: left;position: absolute;left: 10px;top: 35%;}
#menu a:hover{color:#b54100 }
.mob-nav a.menu-btn{background: url(../images/menu.png) center center no-repeat;width: 24px;height: 24px;float: left;vertical-align: middle;}
.header_bottom .logo{left: 55px;width: 200px;}
.homepage-banner {margin-bottom: 35px;}
.into_text h1{margin-bottom: 16px;}
.into_text h2 {font-size: 31px;margin-bottom: 15px;}
.into_text {margin-bottom: 28px;}
.into_text p{line-height: 25px;font-size: 15px;}
.home_middle {margin-bottom: 35px;}
.middle_left{width: 49%;padding: 20px;}
.middle_right {width: 49%;padding: 20px 20px 25px;}
.home_middle h3 {font-size: 22px;margin-bottom: 13px;}
.home_middle .mid_content{font-size: 15px;}
.home_middle .mid_content p {line-height: 23px;margin-bottom: 16px;}
.home_middle .bottom_link a {font-size: 15px;padding: 13px 23px;}
.home_middle .middle_right h3 {margin-bottom: 11px;}
.middle_right .mid_content {margin-bottom: 18px;line-height: 23px;}
.middle_right .payment_sec {margin-bottom: 16px;}
.middle_right .payment_sec ul li{margin-left: 8px;}
.recent_event{width: 100%;padding: 25px;margin-bottom: 20px;}
.home-blog-post h3{margin-bottom: 20px;}
.post-text{left: 25px;bottom: 25px;}
.post-text h6{font-size: 23px;line-height: 25px;}
.post-text p{font-size: 15px;margin-top: 12px;}
.home_post .owl-dots {margin-top: 40px;}
.home_post .owl-dot{margin-right: 12px;}
.events_link a{font-size: 15px;padding: 14px 25px;}
.bottom_rgt{float: left;width: 100%;}
.bottom_rgt .members_sec{width: 330px;float: left;}
.book_ticket{float: right;width: 340px;}
.members_sec h3{font-size: 20px;padding: 15px 0;}
.member_image figure span {height: 185px;}
.members_sec ul li{padding: 20px 50px 20px;}
.book_ticket_inner h3 {font-size: 23px;margin-bottom: 23px;}
footer {padding: 30px 0 15px;}
footer .footer_menu ul {margin: 0;}
footer .footer_menu ul li{float: none;display: inline-block;vertical-align: top;margin-bottom: 10px;}
.copyright{font-size: 13px;margin-top: 25px;}
.social_sec {margin-top: 17px;}
footer .footer_menu ul li:first-child{margin-left: 8px;}
.bottom_rgt .members_sec {margin-bottom: 0;}
header.sticky .header_bottom{display: block;}
header.sticky .header_bottom .logo{display: none;}
}
@media screen and (max-width: 767px) {
.container{width:620px;}
.header_bottom .logo{width: 180px;}
.header_bottom {padding: 13px 0;}
.header_bottom .donate a {padding: 10px 16px;}
.header_bottom .donate {font-size: 14px;}
.homepage-banner {margin-bottom: 25px;}
.into_text h1 {margin-bottom: 12px; font-size: 19px;}
.into_text h2 {font-size: 27px;margin-bottom: 12px;}
.into_text p {line-height: 23px;font-size: 14px;}
.middle_left{padding: 15px;}
.home_middle h3 {font-size: 20px;margin-bottom: 10px;}
.home_middle .mid_content {font-size: 14px;}
.home_middle .mid_content p {line-height: 22px;margin-bottom: 8px;}
.home_middle .middle_right h3 {margin-bottom: 10px;}
.middle_right .mid_content {margin-bottom: 20px;line-height: 21px;}
.middle_right .payment_sec {margin-bottom: 18px;}
.home_middle .bottom_link a {font-size: 14px;padding: 12px 20px;}
.middle_right .payment_sec ul li {margin-left: 6px;}
.home-blog-post h3{margin-bottom: 16px;font-size: 22px;}
.post-text h6 {font-size: 22px;line-height: 23px;}
.post-text p {font-size: 14px;margin-top: 9px;}
.post-text {left: 18px;bottom: 18px;}
.events_link {margin-top: 20px;}
.recent_event{padding: 20px;}
.events_link a {font-size: 14px;padding: 12px 18px;}
.home_post .owl-dots {margin-top: 32px;}
.bottom_rgt .members_sec {width: 290px;}
.members_sec h3 {font-size: 18px;padding: 12px 0;}
.book_ticket{width: 300px;}
.book_ticket_inner h3 {font-size: 22px;margin-bottom: 20px;}
.members_sec ul li {padding: 15px 47px 15px;}
.book_ticket_inner {padding: 25px 20px 25px 20px;}
.members_sec h4{font-size: 17px;line-height: 20px;margin-bottom: 7px;}
.member_image {margin-bottom: 8px;}
.members_sec h5{font-size: 15px;}
.home_bottom_sec {margin-bottom: 35px;}
footer {padding: 25px 0 10px;}
footer .footer_menu ul li{margin-left: 6px;}
footer .footer_menu ul li:first-child {margin-left: 6px;}
.social_sec span{font-size: 13px;margin-right: 6px;}
.social_sec {margin-top: 10px;}
.copyright{font-size: 12px;margin-top: 17px;}
.mob-nav{top: 34%;}
}

@media screen and (max-width: 639px) {
.container{width:548px;}
.header_bottom {padding: 10px 0;}
.header_bottom .donate {font-size: 13px;}
.header_bottom .donate a {padding: 10px 13px;}
.header_bottom .logo {width: 160px;}
.into_text h1 {margin-bottom: 10px;font-size: 18px;}
.into_text h2 {font-size: 25px;margin-bottom: 10px;}
.into_text p {line-height: 22px;font-size: 13px;}
.into_text {margin-bottom: 20px;}
.middle_left{width: 100%;margin-bottom: 10px;padding: 25px;}
.middle_right{width: 100%;float: left;padding: 25px;}
.home_middle h3 {font-size: 22px;}
.bottom_rgt .members_sec {width: 250px;}
.book_ticket {width: 270px;}
.button_link_book_ticket a {padding: 12px 25px;font-size: 15px;}
.members_sec h3 {font-size: 16px;padding: 10px 0;}
.book_ticket_inner {padding: 20px;}
.book_ticket_inner h3 {font-size: 19px;}
.members_sec ul li {padding: 15px 37px 15px;}
.member_image figure span {height: 165px;}
.members_sec h5 {font-size: 14px;}
.members_sec h4 {font-size: 16px;line-height: normal;}
.home_bottom_sec {margin-bottom: 25px;}
footer {padding: 15px 0 10px;}
.social_sec{float: none;display: inline-block;vertical-align: top;}
.social_sec span {font-size: 14px;}
.copyright{float: none;display: inline-block;vertical-align: top;margin-top: 12px;}
}

@media screen and (max-width: 567px) {
.container{width:400px;}
.header_bottom .logo{float: none;display: inline-block;vertical-align: top;position: static;margin-left: 72px;}
.homepage-banner {margin-bottom: 20px;}
.into_text h1 {margin-bottom: 8px;font-size: 16px;}
.into_text h2 {font-size: 22px;margin-bottom: 7px;line-height: 28px;}
.middle_left{padding: 15px;}
.home_middle h3 {font-size: 20px;margin-bottom: 6px;}
.home_middle .mid_content {font-size: 13px;margin-bottom: 12px;}
.home_middle .mid_content p {line-height: 20px;margin-bottom: 6px;}
.home_middle .bottom_link a {font-size: 13px;padding: 12px 15px;}
.middle_right{padding: 15px;}
.home_middle .middle_right h3 {margin-bottom: 6px;}
.middle_right .mid_content {margin-bottom: 10px;}
.middle_right .payment_sec {margin-bottom: 14px;}
.home_middle {margin-bottom: 25px;}
.recent_event {padding: 15px;}
.home-blog-post h3 {margin-bottom: 12px;font-size: 20px;}
.events_link a {font-size: 13px;padding: 12px 15px;}
.post-text h6 {font-size: 20px;line-height: 22px;}
.post-text p {font-size: 13px;margin-top: 7px;}
.post-text {left: 10px;bottom: 10px;}
.bottom_rgt .members_sec{float: none;display: inline-block;vertical-align: top;margin-bottom: 10px;}
.book_ticket{float: none;display: inline-block;vertical-align: top;}
.copyright{line-height: 22px;}
.mob-nav {top: 38%;}
.header_bottom .donate{margin-top: 19px;}
}

@media screen and (max-width: 413px) {
.container{width:300px;}
.header_bottom .donate {font-size: 12px;}
.header_bottom .logo{width: 140px;margin-left: 30px;}
.header_bottom .donate a {padding: 8px 11px;border-radius: 3px;}
.into_text h1{font-size: 15px;line-height: 21px;}
.into_text h2{line-height: 23px;font-size: 19px;}
.home_middle h3 {font-size: 18px;}
.mob-nav a.menu-btn {margin-top: 2px;}
.home_middle .mid_content{margin-bottom: 10px;}
.bottom_rgt .members_sec {width: 100%;}
.book_ticket {width: 100%;}
.button_link_book_ticket a {padding: 12px 22px;font-size: 13px;}
footer .footer_menu ul li a {font-size: 12px;margin-bottom: 8px;}
.mob-nav {top: 36%;}
.header_bottom .donate {margin-top: 18px;}
}