html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kfeature-product-div,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a{background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0;}
a:hover { text-decoration:none;}

abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle; border:none; outline:none; border-radius:0; font-family: 'Poppins', sans-serif;}
input:focus{border:none; outline:none; -webkit-appearance:none;}
select::-ms-expand {display: none;}
select:focus{border:none; outline:none;  -webkit-appearance:none;}
textarea{border:none; outline:none;  -webkit-appearance:none;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default; font-family: 'Poppins', sans-serif;}
input[type="checkbox"],input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner {border:0;padding:0;}
input[type="text"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"]{ outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none;}
input[type="text"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus{ outline:none;}
textarea {overflow:auto;vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none; font-family: 'Poppins', sans-serif;}
textarea:focus{ outline:none;}
a, input, img, button{-webkit-transition:all .3s ease-in; -moz-transition:all .3s ease-in; -ms-transition:all .3s ease-in; -o-transition:all .3s ease-in; transition:all .3s ease-in;}

h1,h2,h3,h4,h5,h6 {font-weight:400; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
img {max-width: 100%;height: auto; width: auto\9; /* ie8 */border:none;}
*{ margin:0px; padding:0px;}
nav ul {list-style:none;}
ul{ list-style:none;}
strong{ font-weight:700;}
.nopad{ padding-bottom:0px !important;}     
em{ font-style:italic;}
div, ul, li, a, ol, p, span, figure, section, input, textarea{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body{font-family: 'Open Sans', sans-serif;font-size:16px; font-weight:400; margin:0px; padding:0px; text-align:center; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; line-height:1; }
#wrapper{ width:100%; float:left; background: #fff;}
.container{width:1200px; margin:0px auto;} 
header{float: left;width: 100%;}
.header_top{float: left;width: 100%;background: #000;color: #fff;padding: 7px 0 9px 0;}
.header_top_rgt{float: right;width: auto;    font-size: 16px;font-weight: 600;}
.header_call {    float: none;    background: url(../images/call_icn.png) left center no-repeat;margin-right: 32px;display: inline-block;vertical-align: middle;}
.header_call span{    padding-left: 26px;float: left;}	
.header_email {    float: none;    background: url(../images/mail_icn.png) left center no-repeat;    margin-right: 38px;display: inline-block;vertical-align: middle;}
.header_email span{    padding-left: 34px;float: left;}
.header_email a{color: #fff}
.header_email a:hover{color: #fa4d1d}
.desk-nav{float: right;}
.desk-nav ul{float:left;width: 100%;padding: 24px 0 25px 0;box-sizing: border-box;}
.desk-nav ul li{float: none;display: inline-block;vertical-align: top;margin: 0 0 0 53px;text-transform: uppercase; box-sizing: border-box;}
.desk-nav ul li:first-child {margin-left: 0;}
.desk-nav ul li a{color: #000;box-sizing: border-box;float: none;display: inline-block;vertical-align: top;font-weight: 600;font-size: 16px;}
.desk-nav ul li a:hover{color:#fa4d1d;}
.header_bottom{float: left;width: 100%;background: #fff;padding: 18px 0 14px 0;box-sizing: border-box;}
.header_bottom .logo{float: left;width: auto;}
.header_bottom .logo img{float: left;}
.homepage-banner{float: left;width: 100%;position: relative;    margin-bottom: 54px;}
.mob-nav{display: none;}
header.sticky{position: fixed;z-index: 99999;background: #fff;top: 0;   -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);padding: 0;font-size: 0;-webkit-animation: fadeInDown 1s both;
animation: fadeInDown 1s both;}
header.sticky .header_top{display: none;}
.sticky .header_bottom .logo img {width: 80%;}
.sticky .desk-nav ul{padding: 16px 0 16px 0;}
.sticky .header_bottom{padding: 10px 0 10px 0;}
footer {    float: left;    width: 100%;    background: #000000;padding: 55px 0 42px 0;    color: #fff;}
footer h4{float: left;    width: 100%;color: #ee4b1e;text-transform: uppercase;line-height: 24px;font-size: 15px;margin-bottom: 25px;text-align: left;font-weight: 700;}
.footer_top{float: left;    width: 100%;    padding-bottom: 36px;    border-bottom: 1px solid #333333;}
.clmn_1 {    float: left;    width: 220px;    margin-right: 138px;font-size: 15px;    line-height: 24px; }
.clmn_2 {   float: left;    width: 118px;    margin-right: 144px;}
.clmn_3 {    float: left;    width: 118px;    margin-right: 144px;}
.clmn_4 {    float: left;    width: 183px;}
.ft_logo{    float: left;width: 100%;margin-bottom: 35px; text-align: left;}
.footer_top .address{    float: left;    width: 100%;       text-align: left;margin-bottom: 25px;}
.footer_top .address p{margin-bottom: 10px;}
.footer_top .address p:last-child{margin-bottom: 0;}
.footer_call{    padding-left: 27px;float: left;background: url(../images/ft_call_icn.png) left center no-repeat;margin-bottom: 14px;}	
.footer_email{    padding-left: 28px;float: left;background: url(../images/ft_mail_icn.png) left center no-repeat; }
.footer_email a{color: #fff;}
footer ul li{float: left;width: 100%;margin-bottom: 14px;}
footer ul li a{color: #9b9b9b;float: left;width: 100%;text-align: left;font-size: 15px;}
footer ul li a:hover,.footer_email a:hover{color: #fa4d1d}
.social_icn h4{text-transform: capitalize;margin-top: 25px;font-weight: 700;}
.social_icn ul{float: left;}
.social_icn ul li{float: left;width: auto;}
.social_icn ul li .linkedin{font-size: 0;float: left;background: url(../images/linkedin_icn.png) left center no-repeat;height: 22px;width: 23px;margin-right: 25px;}
.social_icn ul li .linkedin:hover{background: url(../images/linkedin_icn_hv.png) left center no-repeat;}
.social_icn ul li .twitter{font-size: 0;float: left;background: url(../images/twitter_icn.png) left center no-repeat;height: 22px;width: 27px;}
.social_icn ul li .twitter:hover{background: url(../images/twitter_icn_hv.png) left center no-repeat;}
.social_icn{    float: left;width: auto;}
.btm_footer_logo{float: right;margin-top: 29px;}
.home_inner{float: left;width: 100%;margin-bottom: 38px;}
.homepage-banner .owl-item li{height: 734px;background-size: cover;background-position: center center;background-repeat: no-repeat;}
.homepage-banner .owl-nav div {    width: 30px;    height: 30px;    background-size: 100% auto;    position: absolute;    top: 50%;    -webkit-transform: translate(0,-50%);    transform: translate(0,-50%);    font-size: 0;}
.homepage-banner .owl-nav .owl-next {    right: 30px;    background: url(../images/next.png) no-repeat center;}
.homepage-banner .owl-nav .owl-prev {    left: 30px;    background: url(../images/prev.png) no-repeat center;}
.header_search{    float: none;    width: 313px;    padding: 0 16px;    background: #fff;    box-sizing: border-box;display: inline-block;vertical-align: middle;}
.header_search input[type="search"]{    float: left;    width: 100%;    height: 43px;    background: #fff url(../images/search_icn.png) left center no-repeat;    padding-left: 30px;    box-sizing: border-box;}
.header_search input[type="submit"]{display: none;}
.banner_btm{position: absolute;float: left;width: 100%;z-index: 9;bottom: 60px;}
.banner_btm h1{float: left;    width: 100%; margin-bottom: 34px;   text-align: center;    color: #fff;    font-weight: 600;    font-size: 30px;    text-transform: capitalize;}
.banner_search{float: none;    width: 483px;background: #fff;    text-align: center;    display: inline-block;    vertical-align: top;padding-left: 25px;position: relative;margin-bottom: 150px;}
.banner_search input[type="search"]{    width: 100%;font-size: 15px; height: 63px;       background: #fff url(../images/search_icn.png) left center no-repeat;    padding-left: 30px;    box-sizing: border-box;padding-right: 150px;}
.banner_search input[type="submit"]{    position: absolute;    top: 0;    right: 0;    height: 100%;    font-size: 16px;    font-weight: 600;    color: #fff;    background: #fa4d1d;    width: 125px;    text-transform: uppercase;}
.banner_search input[type="submit"]:hover{background: #000;}
.services{    float: left;width: 100%;}
.services li {padding: 22px;    box-sizing: border-box;    float: left;    width: 375px;    background: rgba(12,11,9,0.85);    margin-right: 37px;}
.services li:last-child {    margin-right: 0;} 
.services li span{    width: 130px;    display: table;    table-layout: fixed;    vertical-align: middle;    text-align: center;float: left;}
.services li span figure{display: table-cell;vertical-align: middle;text-align: center;height:100px;}
.banner_cnt{float: left;    width: 200px;    color: #fff;padding-left: 29px;box-sizing: border-box;}
.banner_cnt h2 {    float: left;    width: 100%;    text-align: left;    font-size: 17px;    font-weight: 700;    margin-bottom: 18px;}
.banner_cnt p{font-size: 15px;line-height: 24px;float: left;width: 100%;text-align: left;    margin-bottom: 8px;}
.banner_cnt a{color: #fa4d1d;    float: left;    width: 100%;    text-align: left;    line-height: 24px;    font-size: 17px;}
.partner_sec{    float: left;    width: 100%;    padding: 56px 0;    box-sizing: border-box;    background: #ebebeb;margin-bottom: 54px;}
.heading{float: left;width: 100%;margin-bottom: 39px;}
.heading h3{float: left;width: 100%;text-align: center;font-size: 24px;font-weight: 600;}
.heading h3 span{position: relative;box-sizing: border-box;}
.heading h3 span::after{position: absolute;content: '';width: 94px;border: 1px solid #bcbcbc;top: 50%;right: -108px;margin-top: -1px}
.heading h3 span::before{position: absolute;content: '';width: 94px;border: 1px solid #bcbcbc;top: 50%;    margin-top: -1px;    left: -108px;}
.partner_sec ul{float: left;width: 100%;}
.partner_sec ul li{background: #ffffff;padding: 13px;    float: left;}
.partner_sec ul li figure{display: table;table-layout: fixed;vertical-align: middle;text-align: center;width: 100%;position: relative;}
.partner_sec ul li figure span{height: 112px;display: table-cell;vertical-align: middle;text-align: center;}
.home_middle_sec{float: left;width: 100%;margin-bottom: 60px;    position: relative;}
.home_middle_sec h3{    float: left;    font-size: 24px;    font-weight: 600;    text-transform: uppercase;    margin-bottom: 17px;}
.home_middle_sec ul{float: left;width: 100%;}
.member_image{    float: left;    width: 100%;    position: relative;margin-bottom: 27px;}
.home_middle_sec figure{position: relative;}
.home_middle_sec h4{    font-size: 18px;    line-height: 26px;    font-weight: 600;    text-align: left;margin-bottom: 7px;}	
.home_middle_sec p {    float: left;    width: 100%;    line-height: 24px;    font-size: 15px;    text-align: left;}
.overlay {background: rgba(250, 77, 29, 0.7); height: 100%;left: 0; opacity: 0; position: absolute;text-align: center;top: 0;transition: all 0.3s ease-in 0s;width: 100%;color: #fff;font-size: 17px;line-height: 24px;}    
.home_middle_sec figure:hover .overlay {opacity: 1;}
.overlay small{    top: 50%;position: absolute;    width: auto;    left:134px;border-bottom: 1px solid #fff;}
#testimonial{float: left;width: 100%;}
#testimonial li{    float: left;width: 100%;}
.testimonial_txt{    float: left;    width: 100%;    padding: 30px;    box-sizing: border-box;    background: #f5f5f5;    font-size: 15px;    line-height: 24px;    font-style: italic;    text-align: left;}
.client_name{float: left;    width: 100%;    font-size: 17px;    line-height: 24px;    color: #464646;    padding: 19px 0 25px 0;    box-sizing: border-box;    background: #ebebeb;position: relative;}
.client_name h4{font-weight: 600;}
#testimonial .owl-stage{padding:0px 0 15px 0;box-sizing: border-box;}
.client_name::after{position: absolute;content: '';background:url(../images/btm_arrow.png) center center no-repeat;left: 50%;    bottom: -11px;width: 23px;    height: 11px; }
#project .owl-dot{float: none;display: inline-block;padding-left: 5px;}
#project .owl-nav div {    top: -22px;    width: 32px;    height: 16px;    background-size: 100% auto;    position: absolute;    top: -22px;right: 0;    -webkit-transform: translate(0,-50%);    transform: translate(0,-50%);    font-size: 0;z-index: 99;}
#project .owl-dot span:before {    content: '/';    position: relative;padding-right: 3px;}
#project .owl-dot:first-child span:before{display: none;}
#project .owl-nav .owl-prev.disabled {   background: url(../images/slider_arrow_prev.png) no-repeat center;right: 94px;}
#project .owl-nav .owl-next {    background: url(../images/slider_arrow_next_act.png) no-repeat center;}
#project .owl-nav .owl-prev {background: url(../images/slider_arrow_prev_act.png) no-repeat center;right: 94px;}
#project .owl-nav .owl-next.disabled {    background: url(../images/slider_arrow_next.png) no-repeat center;}
.owl-dots {    float: left;    width: 100%;    text-align: right;    position: absolute;    top: -31px;    right: 44px;font-size: 14px;    font-weight: 600;    color: #4c4c4c;}
